<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <!-- 移除 .map 檔案的連結 -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-chartjs/dist/vue-chartjs.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-chart-js@1.4.1/dist/vue-chart-js.min.js"></script>
  <style>
    /* 媒體查詢 */
    @media (max-width: 767px) {
      /* 在螢幕寬度小於767px時套用這些CSS */
      .col-md-6 {
        width: 100%;
      }
    }
  </style>
</head>
<body >
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
      <a class="navbar-brand" href="#">社群媒體詐騙帳號測驗</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>

      </div>
    </nav>
    <!-- <h1>Questionnaire Form</h1> -->
    <form @submit.prevent="submitForm" style="margin: 20px;">
      <!-- 使用 v-if 控制顯示不同的問題頁 -->
      <!-- 開始畫面 -->
      <div class="container mt-3 d-flex justify-content-center">
        <div v-if="currentPage === 0">
          <div class="d-flex justify-content-center">
            <img src="./img/ais3.gif" alt="Image" width="350" height="350">
          </div><br/><br/>
          <label class="form-label h2 d-flex justify-content-center">測驗名稱</label><br/>
          <br/><br/>
          <button class="btn btn-primary btn-block" @click="nextPage">開始測驗</button>
        </div>
      </div>
      
      <!-- 第一題 -->
      <div class="container d-flex justify-content-center " >
        <div v-if="currentPage === 1">
          <div class="d-flex justify-content-center">
            <img src="./img/Q1.png" alt="Image" width="250" height="250">
          </div>
          <label class="form-label h3" for="Q1">Q1. 您是否更喜歡使用英文名字而非本名？</label><br/><br/><br/>
          <!-- <input type="text" id="Q1" class="form-control" v-model="answers.Q1" required> -->
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q1" value="1"> A. 比起中文名我更喜歡英文名
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q1" value="2"> B. 我沒有特別喜歡哪一個
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q1" value="3"> C. 比起英文名我更喜歡中文名
              </label>
            </div>
          </div><br/>
          <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
        </div>
      </div>
      <!-- 第二題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 2">
            <div class="d-flex justify-content-center">
              <img src="https://cdn-icons-png.flaticon.com/256/9621/9621087.png" width="200" height="200" alt="Image">
            </div>
            <label class="form-label h3" for="Q2">Q2. 在選擇產品時，你是否更看重產品的聲譽，而不是僅僅注重價格？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
              <div class="mb-3">
                <label class="radio"><input type="radio" v-model="answers.Q2" value="1"> A. 比起價格，我更重視於產品的聲譽</label>
              </div>
              <div class="mb-3">
                <label class="radio"><input type="radio" v-model="answers.Q2" value="2"> B. 產品聲譽與價格同等重要</label>
              </div>
              <div class="mb-3">
                <label class="radio"><input type="radio" v-model="answers.Q2" value="3"> C. 比起產品的聲譽，我更重視於產品合理的價格</label>
              </div>
              <div class="mb-3">
                <label class="radio"><input type="radio" v-model="answers.Q2" value="4"> D. 沒有特別偏好</label>
              </div><br/>
              <div class="row">
                <div class="col">
                  <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
                </div>
              </div>
          </div>
        </div>
      </div>
      <!-- 第三題 -->
      <div class="container d-flex justify-content-center mt-1">
        <div v-if="currentPage === 3">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/488/488917.png" width="180" height="180" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q3">Q3.你是否喜歡在社交平台上公開自己相關狀態 (生日、居住地、就讀等資訊)？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q3" value="1"> A. 是的，我喜歡在社交平台上公開相關資訊，讓他人更容易了解我
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q3" value="2"> B. 有時候會公開一些相關資訊，視情況而定
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q3" value="3"> C. 不會在社交平台上公開相關資訊，保持隱私為主
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>
      <!-- 第四題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 4">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/1974/1974118.png" width="200" height="200" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q4">Q4. 您在社交媒體或網路平台上貼文的照片主要是？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q4" value="1"> A: 多為自拍照
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q4" value="2"> B: 均衡，各占一半，沒有那一方特別多
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q4" value="3"> C: 多為他人拍攝的照片
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q4" value="4"> D: 幾乎不貼照片
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>
      <!-- 第五題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 5">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/8955/8955033.png" width="200" height="200" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q5">Q5. 在線上交流與分享對您而言是否重要？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q5" value="1"> A: 我經常與他人分享我所學習的專業知識
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q5" value="2"> B: 我有時會在線上交流與分享，但頻率不高
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q5" value="3"> C: 我不常與他人分享我所學習的專業知識
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>

      <!-- 第六題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 6">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/4187/4187152.png" width="200" height="180" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q6">Q6. 在社交平台上與好友之間的互動頻率是？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q6" value="1"> A: 時常互動，基本每篇貼文都會回應或按讚 
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q6" value="2"> B: 有時互動，大約幾個月回應或按讚幾篇貼文
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q6" value="3"> C:偶爾互動，不經常回應或按讚，久久幾次
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q6" value="4"> D:很少互動，幾乎不回應或按讚
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>

      <!-- 第七題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 7">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/9125/9125448.png" width="200" height="200" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q7">Q7. 你覺得你跟平台上好友有功同之處嗎？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q7" value="1"> A: 完全不相似，我和好友幾乎沒有共同之處 
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q7" value="2"> B: 各占一半，我和一些好友有共同之處
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q7" value="3"> C: 完全相似，我和好友擁有許多共同之處
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>

      <!-- 第八題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 8">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/610/610128.png" width="200" height="200" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q8">Q8. 你的社交帳號使用歷史範圍為何？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q8" value="1"> A: 相對較新，剛創辦不久
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q8" value="2"> B: 中等歷史，使用時間大約大眾相近
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q8" value="3"> C:創辦已久，已經有一段時間
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>

      <!-- 第九題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 9">
          <div class="d-flex justify-content-center">
            <img src="./img/Q9.png" width="250" height="240" alt="Image">
          </div><br/>
          <label class="form-label h3" for="Q9">Q9. 請問您目前的薪水屬於哪個區間？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q9" value="1"> A: 遠高於平均薪水
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q9" value="2"> B: 略高於平均薪水
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q9" value="3"> C: 接近平均薪水
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q9" value="4"> D: 小於平均薪水
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <button class="btn btn-primary btn-block" @click="nextPage">下一題</button>
            </div>
          </div></div>
        </div>
      </div>
      <!-- 第十題 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 10">
          <div class="d-flex justify-content-center">
            <img src="https://cdn-icons-png.flaticon.com/256/2766/2766237.png" width="180" height="180" alt="Image">
          </div><br/><br/>
          <label class="form-label h3" for="Q10">Q10. 您的社交帳號大頭貼是否為自己真實的人像照片？</label><br/><br/>
          <div class="d-flex justify-content-center flex-column">
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q10" value="1"> A: 是的，我的頭貼都是我自己的照片
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q10" value="2"> B: 是的，但我會用手機遮臉，或拍攝背面，以保護隱私
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q10" value="3"> C: 不是，我的頭貼是卡通、明星、寵物等非真實人像照片
              </label>
            </div>
            <div class="mb-3">
              <label class="radio">
                <input type="radio" v-model="answers.Q10" value="4"> D: 我根本沒放圖片
              </label>
            </div><br/>
          <div class="row">
            <div class="col">
              <button class="btn btn-outline-secondary btn-block" @click="prevPage">上一題</button>
            </div>
            <div class="col">
              <!--<button class="btn btn-primary btn-block" type="submit">提交</button>-->
              <button id="submit-button" class="btn btn-primary btn-block">提交</button>
            </div>
          </div></div>
        </div>
      </div>

      <!-- 第十一頁 -->
      <!--<div class="container d-flex justify-content-center">
        <div v-if="currentPage === 11">
          <div class="d-flex justify-content-center">
              <bar-chart v-if="chartData" :data="chartData"></bar-chart>
          </div>
        </div>
      </div>-->
      <!-- 第十一頁 -->
      <div class="container d-flex justify-content-center">
        <div v-if="currentPage === 11" class="row mt-4">
          <!-- 左側部分 -->
          <div class="col-md-6 d-flex justify-content-center my-4" style="width: 450px;">
            <!-- 引入長條圖元件並傳遞後端傳來的 JSON 資料 -->
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <bar-chart
                  v-if="chartData"
                  :data="chartData"
                  :chart-title="chartTitle"
                  :x-axis-label="xAxisLabel"
                  :y-axis-label="yAxisLabel"
                ></bar-chart>
              </div>
            </div>
          </div>
          <!-- 右側部分 -->
          <div class="col-md-6 d-flex flex-column justify-content-center align-items-end my-4" style="width: 450px;">
            <!-- 顯示分數 -->
            <div class="card" style="background-color: #EBEBEB;">
              <img class="card-img-top" src="./img/thanks.gif" alt="Card image" style="width: 100%">
              <div class="card-body">
                <h3 class="card-title">結果分析</h4>
                <h4 class="mb-4 card-text">您的分數：{{ scoreData.score }}</h3>
                <a href="#" class="btn btn-outline-secondary">分享結果至社群平台 ></a>
              </div>
            </div>
          </div>
        </div>
      </div>


    </form>
    <p v-if="message">{{ message }}</p>
  </div><br/><br/>
  <footer style="margin-top:50px; position: fixed; bottom: 0; width: 100%; text-align: center; padding: 10px; background-color: #0B3954; color:white">&copy; 2023 AIS3 跨域資訊安全第二組</footer>

  
  <!-- Vue.js CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="app.js"></script>
  <script>
    async function postData() {
      const form = {
        "Q1": parseInt(getRadioValue("Q1")),
        "Q2": parseInt(getRadioValue("Q2")),
        "Q3": parseInt(getRadioValue("Q3")),
        "Q4": parseInt(getRadioValue("Q4")),
        "Q5": parseInt(getRadioValue("Q5")),
        "Q6": parseInt(getRadioValue("Q6")),
        "Q7": parseInt(getRadioValue("Q7")),
        "Q8": parseInt(getRadioValue("Q8")),
        "Q9": parseInt(getRadioValue("Q9")),
        "Q10": parseInt(getRadioValue("Q10")),
        // ... 繼續取得其他問題的回答 ...
      };
      console.log(form);
      // 這裡以 POST 方法發送表單資料到 API
      try {
        const formResponse = await fetch("https://script.google.com/macros/s/AKfycbyJssGjPcix_vmdo50JtZF3n0jMBeKsJ0vPwXhXtYjviSSu0kCyotLBGRE66wIrH5m_/exec", {
          method: "POST",

          body: JSON.stringify(form),
        });
  
        const data = await formResponse.json();
        console.log(data);
      } catch (error) {
        console.error("Error:", error);
      }
    }
  
    function getRadioValue(name) {
      const radioButtons = document.getElementsByName(name);
      for (const radioButton of radioButtons) {
        if (radioButton.checked) {
          return radioButton.value;
        }
      }
      return null;
    }
  
    const submitButton = document.getElementById("submit-button");
    submitButton.addEventListener("click", postData);
  </script>
  

</body>
</html>
